@{
    ViewBag.Title = "Datos";
}
<h2>Datos</h2>
<h3>@ViewBag.Message</h3>

<p>Link del codigo fuente en github</p>
<p><a href="https://github.com/Slashwer/Proyecto" class="btn btn-primary btn-lg">Click aqui &raquo;</a></p>
