@{
    ViewBag.Title = "Pagina principal";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Esta herramienta lo ayudara a conseguir resultados de los empleados de su empresa de manera rapida y eficiente.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lista de empleados</h2>
        <p>
            Encontrara todos los empleados de su empresa junto a sus datos respectivos las cuales puede editar.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Busqueda</h2>
        <p>Le permitira buscar empleados especificos mediante el nombre y desplegar su informacion.</p>
    </div>
    <div class="col-md-4">
        <h2>Obtener resultados</h2>
        <p>Podra ver el sueldo total a pagar a cada empleado y su rendimiento respectivo del mes en la empresa.</p>
    </div>
</div>